### 반복문 예제

In [6]:
#반복문 예제 #1
i = 1

In [7]:
print(i)
i=i+1;

1

In [4]:
#반복문 예제 #1
i = 1
while i <= 10:
    print(i)
    i=i+1;
print("1번문제 시작!")

1
2
3
4
5
6
7
8
9
10
1번문제 시작!

In [5]:
#반복문 예제 #2
for i in range(1, 11):
    print(i)
print("2번문제 시작!")

1
2
3
4
5
6
7
8
9
10
2번문제 시작!

In [4]:
#반복문 예제 #1
i = 1
while i <= 10:
    print(i)
    i=i+1;
print("1번문제 시작!")

#반복문 예제 #2
for i in range(1, 11):
    print(i)
print("2번문제 시작!")

1
2
3
4
5
6
7
8
9
10
1번문제 시작!
1
2
3
4
5
6
7
8
9
10
2번문제 시작!

### 2중 for 문

In [5]:
for n in [1,2]:
    print("{0}단 시작".format(n))
    for i in [1,2,3,4,5,6,7,8,9]:
        print("{0} * {1} =  {2} ".format(n, i, n*i))

1단 시작
1 * 1 =  1
1 * 2 =  2
1 * 3 =  3
1 * 4 =  4
1 * 5 =  5
1 * 6 =  6
1 * 7 =  7
1 * 8 =  8
1 * 9 =  9
2단 시작
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18

### 2중 for 문 + break

In [6]:
for n in [1,2]:
    print("{0}단 시작".format(n))
    for i in [1,2,3,4,5,6,7,8,9]:
        if i > 5:
            break
        print("{0} * {1} =  {2} ".format(n, i, n*i))

1단 시작
1 * 1 =  1
1 * 2 =  2
1 * 3 =  3
1 * 4 =  4
1 * 5 =  5
2단 시작
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10

### 2중 for 문 + continue

In [7]:
for n in [1,2]:
    if n%2 == 0:
            continue
    print("{0}단 시작".format(n))
    for i in [1,2,3,4,5,6,7,8,9]:
        print("{0} * {1} =  {2} ".format(n, i, n*i))

1단 시작
1 * 1 =  1
1 * 2 =  2
1 * 3 =  3
1 * 4 =  4
1 * 5 =  5
1 * 6 =  6
1 * 7 =  7
1 * 8 =  8
1 * 9 =  9

In [14]:
a="10"

In [15]:
type(a)

str

In [18]:
integerValue = int(a)
integerValue

10

In [13]:
nations = ["A01","한국","A02","미국","A03","프랑스"] 

i = 0
while i < len(nations):
    if(i%2!=0):
        print(nations[i])
    i = i+1

한국
미국
프랑스

In [11]:
dic_example = { 'A01': '한국', 'A02': '미국', 'A03': '인도' } 

for i in dic_example.keys():
    print(i)

A01
A02
A03

In [8]:
dic_example = { 'A01': '한국', 'A02': '미국', 'A03': '인도' } 

# 키와 값 가져오기 

for key, value in dic_example.key
    print("{0},{1}".format(key, value))

    # 키만 가져오기 
for key in dic_example.keys(): 
    print(key) 
print('\n')  
    # 값만 가져오기 
for value in dic_example.values(): 
    print(value)

A01,한국
A02,미국
A03,인도
A01
A02
A03


한국
미국
인도

In [9]:
wish_travel_city = { 'bangkok': 'Thai', 'Los Angeles': 'USA', 'Manila': 'Philiphines' } 

# 키와 값 가져오기 

for key, value in wish_travel_city.items(): 
    print(key, value)
    
    # 키만 가져오기 
for key in wish_travel_city.keys(): 
    print(key) 
    
    # 값만 가져오기 
for value in wish_travel_city.values(): 
    print(value)

bangkok Thai
Los Angeles USA
Manila Philiphines
bangkok
Los Angeles
Manila
Thai
USA
Philiphines

### 실습 문제

In [10]:
list()

[]

In [11]:
a =list(range(1,20,2))
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
nations = ["A01","한국","A02","미국","A03","프랑스"] 

i = 0

while i < len(nations):
    if(i%2!=0):
        print(nations[i])
    i = i+1

한국
미국
프랑스

In [13]:
nations = ["A01","한국","A02","미국","A03","프랑스"] 

for i in range (0,len(nations),2):
    print(nations[i])

A01
A02
A03

In [14]:
nations = ["A01","한국","A02","미국","A03","프랑스"] 

for i in nations:
    if(nations.index(i)%2!=0):
        print(i)

한국
미국
프랑스

In [15]:
nations = ["A01","한국","A02","미국","A03","프랑스"]

In [16]:
i="A01"

In [17]:
if(nations.index(i)%2!=0):
    print(i)

In [2]:
tvList = [ "UN40EN001", "UN40EN002", "UN40EN003", "UN40EN004"]

In [ ]:
tvList[0] =