### CSV Connection

### read 시 한글깨짐 encoding = 'ms949'

In [14]:
import pandas as pd

In [15]:
test = pd.read_csv("../dataset/kopo_region_mst_hangul.csv", encoding="ms949").head()
test

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국
2      A02         한국
3      A03         독일
4      A04        브라질

### File connection

In [17]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
    
# CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", encoding='utf-8-sig', index=False)
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

### Mysql connection

In [1]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 

# 컬럼해더 재정의
selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']

# 데이터 저장
resultname='mysqlresult'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

###  실습문제

### Oracle connection

In [20]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@127.0.0.1:1521/xe') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 

# 컬럼해더 재정의
selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']

# 데이터 VIEW
print(selloutData.head())

# 데이터 저장
resultname='oracleresult'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0002   201512  151750
1      A01       ST0001   201520  645626
2      A01       ST0002   201520  125863
3      A01       ST0001   201515  810144
4      A01       ST0002   201515  128999

### 실습문제

### Postgresql Connection

In [8]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('postgresql://postgres:kopo@127.0.0.1:5432/postgres') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 

selloutData.head()

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

### MSSQL Connection

In [ ]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymssql 
from sqlalchemy import create_engine 
 
def executeQuery(sql_query):
    connection_string = 'mssql+pymssql://haiteam:kopo1234!@192.168.0.6:1433/kopo'
    engine = create_engine(connection_string)

    df = pd.read_sql(sql_query, engine)

    return df

# DB 테이블을 읽어 Data Frame 변수에 저장하기
storeData =executeQuery("select * from kopo_product_volume")
storeData.head()