# 1. 파일데이터 불러오기

In [6]:
import pandas as pd

In [38]:
url = "https://www.data.go.kr/dataset/fileDownload.do?atchFileId=FILE_000000001420537&fileDetailSn=1&publicDataDetailPk=uddi:1187ad78-3933-43e9-92ae-9ed15c7096d8_201712281357"

In [39]:
data = pd.read_csv(url,encoding='ms949')

In [40]:
data.head()

,연도,월,전국PIR,서울PIR,부산PIR,대구PIR,인천PIR,광주PIR,대전PIR,울산PIR,...,세종LIR,경기LIR,강원LIR,충북LIR,충남LIR,전북LIR,전남LIR,경북LIR,경남LIR,제주LIR
0,2004,3,4.21,4.89,3.95,3.73,4.65,2.81,4.68,2.66,...,-,2.42,1.44,1.53,1.21,1.90,1.42,1.31,2.06,1.28
1,2004,4,4.39,5.59,3.91,3.88,4.59,2.92,3.83,2.74,...,-,2.79,1.18,1.71,1.97,1.57,1.33,1.26,1.92,2.46
2,2004,5,4.19,5.14,4.90,3.83,4.78,3.41,4.19,2.93,...,-,2.22,1.44,1.72,1.85,1.75,1.31,1.50,1.85,2.14
3,2004,6,4.09,4.38,4.20,3.77,4.30,2.83,4.19,2.81,...,-,2.62,1.53,1.57,1.79,1.64,1.19,1.56,1.89,1.81
4,2004,7,4.29,5.88,4.43,4.28,4.81,3.32,4.35,2.54,...,-,2.41,1.68,1.91,2.15,1.64,1.36,1.50,1.93,2.63

### 실습

공공데이터포털에서 
한국감정원 "오피스텔 동향조사" 현황 자료를 검색하여
데이터타입 자료를 불러오세요

# 2. 통계청 포털 API 데이터 불러오기

### 1. Python 활용 json url 데이터 불러오기

In [31]:
# 라이브러리 선언
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [11]:
url = "http://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=MjUzMTdiMjcyZjQwY2VkMWJkY2RkYTRmZDkwMWQ3ZGY=&format=json&jsonVD=Y&userStatsId=haiteam/101/DT_1B040A3/2/1/20190710094828&prdSe=M&newEstPrdCnt=1"

In [41]:
url = "http://kosis.kr/openapi/statisticsList.do?method=getList&apiKey=MjUzMTdiMjcyZjQwY2VkMWJkY2RkYTRmZDkwMWQ3ZGY=&vwCd=MT_ZTITLE&parentListId=A2_6&format=json&jsonVD=Y"

In [42]:
# 데이터 접속 주소 입력
#url = ‘통계청 API에서 받은 URL’
# 정상 여부 확인 (200 정상)
response = requests.get(url)
response
# JSON 데이터 획득
json = response.json()
# PandasDataframe변환
df = json_normalize(json)
df.head()

  ORG_ID      TBL_ID                  TBL_NM      VW_CD     VW_NM
0    101  DT_1B8000F         인구동태건수 및 동태율 추이  MT_ZTITLE  국내통계 주제별
1    101  DT_1B8000H         시도/인구동태건수 및 동태율  MT_ZTITLE  국내통계 주제별
2    101  DT_1B8000I        시군구/인구동태건수 및 동태율  MT_ZTITLE  국내통계 주제별
3    101  DT_1B8000K  읍면동, 성별/출생ㆍ사망ㆍ혼인ㆍ이혼 건수  MT_ZTITLE  국내통계 주제별

### 1. 실습 (지가변동률 시도/시/군/구)

지가변동률(시도/시/군/구)
* 서울시 2010~2018년도 지가변동률 수집

### 3. 공공데이터 포털 API 데이터 불러오기

### 1. Python 활용 xml url 데이터 불러오기

In [ ]:
#Used to service API connection
import requests
#Used to parse XML
from lxml import html
from bs4 import BeautifulSoup 
import pandas as pd

In [ ]:
data = open("C:/Users/hk/Desktop/getRTMSDataSvcAptTradeDev.xml",'rt',encoding="UTF8").read()

In [13]:
# Convert webpage to %Data
Data = BeautifulSoup(data, 'lxml-xml')

In [13]:
#Used to service API connection
import requests
#Used to parse XML
from lxml import html
from bs4 import BeautifulSoup 
import pandas as pd


url="http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?LAWD_CD=11110&DEAL_YMD=201512&serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D"

response = requests.get(url)

# Convert webpage to %Data
Data = BeautifulSoup(response.text, 'lxml-xml')

In [14]:
# 전체 Row를 담을 리스트
dataframeList = []

# 한 행의 컬럼값을 담을 리스트
columnList = []

# 행 값을 담고 있는 모든 태그를 검색
rows = Data.find_all('item')

In [15]:
for i in range(0, len(rows)):
    columns = rows[i].find_all()
    for j in range(0, len(columns)):
        eachcolumnValue = columns[j].text
        columnList.append(eachcolumnValue)
    dataframeList.append(columnList)
    columnList = []

In [16]:
# 데이터 프레임으로 변환하자
result1 = pd.DataFrame(dataframeList)

In [17]:
len(result1)

10

In [18]:
# 전체 Row를 담을 리스트
dataframeList = []

# 한 행의 컬럼값을 담을 리스트
columnList = []

# 행 값을 담고 있는 모든 태그를 검색
rows = Data.find_all('item')

In [19]:
for eachrow in rows:
    columns = eachrow.find_all()
    for eachColumns in columns:
        eachcolumnValue = eachColumns.text
        columnList.append(eachcolumnValue)
    dataframeList.append(columnList)
    columnList = []
# 데이터 프레임으로 변환하자
result2 = pd.DataFrame(dataframeList)

In [20]:
len(result2)

10

In [21]:
# 전체 Row를 담을 리스트
dataframeList = []

# 한 행의 컬럼값을 담을 리스트
columnList = []

# 행 값을 담고 있는 모든 태그를 검색
rows = Data.find_all('item')

# 첫번째 행때 컬럼 수집
rowcnt = 0
columnNameList = []

In [22]:
for eachrow in rows:
    columns = eachrow.find_all()
    for eachColumns in columns:
        if(rowcnt==0):
            columnNameList.append(eachColumns.name)
        eachcolumnValue = eachColumns.text
        columnList.append(eachcolumnValue)
    rowcnt=rowcnt+1
    dataframeList.append(columnList)
    columnList = []
# 데이터 프레임으로 변환하자
result2 = pd.DataFrame(dataframeList)

In [23]:
rowcnt

10

In [24]:
result2.columns = columnNameList

In [25]:
result2

,거래금액,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드,...,법정동읍면동코드,법정동지번코드,아파트,월,일,일련번호,전용면적,지번,지역코드,층
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,11500,1,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11
1,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,11700,1,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8
2,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,11800,1,킹스매너,12,8,11110-118,194.43,110-15,11110,6
3,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,11800,1,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8
4,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,11800,1,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4
5,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,16600,1,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8
6,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,16600,1,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4
7,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,17000,1,렉스빌,12,29,11110-973,106.98,19,11110,3
8,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,17100,1,아남1,12,1,11110-25,84.8,4,11110,18
9,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,17100,1,아남1,12,10,11110-25,84.9,4,11110,12

In [26]:
columnNameList

['거래금액',
 '건축년도',
 '년',
 '도로명',
 '도로명건물본번호코드',
 '도로명건물부번호코드',
 '도로명시군구코드',
 '도로명일련번호코드',
 '도로명지상지하코드',
 '도로명코드',
 '법정동',
 '법정동본번코드',
 '법정동부번코드',
 '법정동시군구코드',
 '법정동읍면동코드',
 '법정동지번코드',
 '아파트',
 '월',
 '일',
 '일련번호',
 '전용면적',
 '지번',
 '지역코드',
 '층']

### 1. 실습 (지가지수)

지가지수 검색 후
지가지수 (연도별, 용도지역별, 월별)