# Pandas 라이브러리를 활용한 데이터 수집 및 저장

# 4. 데이터베이스 데이터 수집 및 저장 (Oracle)

In [2]:
# 테이블 전체 조회 select * from tabs와 유사
# engine.table_names()

In [6]:
import pandas as pd
from sqlalchemy import create_engine

### 1. 테스트데이터 생성

In [20]:
testData = pd.DataFrame( [["row1_value1","row1_value2","row1_value3"],
                          ["row2_value1","row2_value2","row2_value3"]], columns = ["컬1","컬2","컬3"] )

In [18]:
testData

            컬1           컬2           컬3
0  row1_value1  row1_value2  row1_value3
1  row2_value1  row2_value2  row2_value3

In [15]:
# 2023년도 변경 
### 테이블 이름 소문자로 변경
### 저장 시 타입 정의 (object)

### 2. Oracle 에 데이터프레임 저장

In [13]:
id = "kopo"
pw = "kopo"
ip = "127.0.0.1"
port = "1521"
dbName = "xe"
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName)    ) 

tableName = "JIKGB_TEST"
tableName = tableName.lower()
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(testData.columns[testData.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # sawonData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 

testData.to_sql(name=tableName, if_exists="replace", con=engine,dtype=typeDict, index=False)

1

### 3. postgreSQL 내 데이터 조회

In [5]:
# 타겟 테이블 조회
sqlSelect = """
SELECT *
FROM JIKGB_TEST"""

testDf = pd.read_sql_query(sqlSelect, con=engine)
testDf.head()