# 참조. 데이터베이스 데이터 수집 및 저장 (Oracle)

In [1]:
# 설치필요 라이브러리 : pip install cx_Oracle
import pandas as pd
from sqlalchemy import create_engine,types
id = "kopo"
pw = "kopo"
ip = "192.168.110.112"
port = "1521"
dbName = "orcl"
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName)    )

In [2]:
# 테이블 전체 조회 select * from tabs와 유사
# engine.table_names()

In [19]:
# 테스트 데이터프레임 생성

In [20]:
testData = pd.DataFrame( [["row1_value1","row1_value2","row1_value3"],
                          ["row2_value1","row2_value2","row2_value3"]], columns = ["컬1","컬2","컬3"] )

In [18]:
testData

            컬1           컬2           컬3
0  row1_value1  row1_value2  row1_value3
1  row2_value1  row2_value2  row2_value3

In [15]:
# 2023년도 변경 
### 테이블 이름 소문자로 변경
### 저장 시 타입 정의 (object)

In [13]:
tableName = "JIKGB_TEST"
tableName = tableName.lower()
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(testData.columns[testData.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # sawonData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 

testData.to_sql(name=tableName, if_exists="replace", con=engine,dtype=typeDict, index=False)

1

In [ ]:
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(selloutData.columns[selloutData.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # selloutData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 

selloutData.to_sql(name=tableName, if_exists="replace", con=engine,dtype=typeDict, index=False)