# Pandas 라이브러리를 활용한 데이터 수집 및 저장

# 3. 데이터베이스 데이터 수집 및 저장 (MongoDB)

### 라이브러리 선언하기

In [3]:
# Pandas 패키지 불러오기
import pandas as pd
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

### 1. 파일 데이터 불러오기

In [4]:
# CSV 파일을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_csv("../dataset/kopo_product_volume.csv")

selloutData.head()

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0      A01       ST0001    201415  810144
1      A01       ST0002    201415  128999
2      A01       ST0001    201418  671464
3      A01       ST0002    201418  134467
4      A01       ST0001    201413  470040

### 2. MySQL에 데이터프레임 저장

In [11]:
# MongoDB 연결 정보 설정
user = "hkcode"
password = "1234"
host = '127.0.0.1'
port = 27017
database = 'hdb'

# MongoClient 생성
uri = f"mongodb://{user}:{password}@{host}:{port}/{database}?authSource=admin"
client = MongoClient(uri)

try:
    # 연결 확인 (서버 정보 가져오기)
    server_info = client.server_info()
    print("Connected to MongoDB server:", server_info)
except ConnectionFailure as e:
    print("Could not connect to MongoDB server:", e)

Connected to MongoDB server: {'version': '7.0.12', 'gitVersion': 'b6513ce0781db6818e24619e8a461eae90bc94fc', 'targetMinOS': 'Windows 7/Windows Server 2008 R2', 'modules': [], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [7, 0, 12, 0], 'openssl': {'running': 'Windows SChannel'}, 'buildEnvironment': {'distmod': 'windows', 'distarch': 'x86_64', 'cc': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.31.31107 for x64', 'ccflags': '/nologo /WX /FImongo/platform/basic.h /fp:strict /EHsc /W3 /wd4068 /wd4244 /wd4267 /wd4290 /wd4351 /wd4355 /wd4373 /wd4800 /wd4251 /wd4291 /we4013 /we4099 /we4930 /errorReport:none /MD /O2 /Oy- /bigobj /utf-8 /permissive- /Zc:__cplusplus /Zc:sizedDealloc /volatile:iso /diagnostics:caret /std:c++20 /Gw /Gy /Zc:inline', 'cxx': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.31.31107 for x64', 'cxxflags': '/TP', 'linkflags': '/nologo /DEBUG /INCREMENTAL:NO /LARGEADDRESSAWARE /OPT:REF', 'target_arch': 'x86_64', 'target_os': 'windows', 'cppdefines': 'SAFEINT_USE_INTRINSICS 0 PCRE2_STATIC NDEBUG BOOST_ALL_NO_LIB _UNICODE UNICODE _SILENCE_CXX17_ALLOCATOR_VOID_DEPRECATION_WARNING _SILENCE_CXX17_OLD_ALLOCATOR_MEMBERS_DEPRECATION_WARNING _SILENCE_CXX17_CODECVT_HEADER_DEPRECATION_WARNING _SILENCE_ALL_CXX20_DEPRECATION_WARNINGS _CONSOLE _CRT_SECURE_NO_WARNINGS _ENABLE_EXTENDED_ALIGNED_STORAGE _SCL_SECURE_NO_WARNINGS _WIN32_WINNT 0x0A00 BOOST_USE_WINAPI_VERSION 0x0A00 NTDDI_VERSION 0x0A000000 ABSL_FORCE_ALIGNED_ACCESS BOOST_ENABLE_ASSERT_DEBUG_HANDLER BOOST_FILESYSTEM_NO_CXX20_ATOMIC_REF BOOST_LOG_NO_SHORTHAND_NAMES BOOST_LOG_USE_NATIVE_SYSLOG BOOST_LOG_WITHOUT_THREAD_ATTR BOOST_MATH_NO_LONG_DOUBLE_MATH_FUNCTIONS BOOST_SYSTEM_NO_DEPRECATED BOOST_THREAD_USES_DATETIME BOOST_THREAD_VERSION 5'}, 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'wiredTiger'], 'ok': 1.0}

### 3. MongoDB 데이터프레임 저장

In [ ]:
collection_name = "kopo_product_collect"

# 데이터베이스와 컬렉션 객체 생성
db = client[database]
collection = db[collection_name]

# 데이터프레임을 MongoDB에 저장
records = selloutData.to_dict(orient='records')
collection.insert_many(records)
print("Data inserted successfully into MongoDB collection:", collection_name)

### 4. 데이터 조회

In [17]:
db = client[database]
collection = db[collection_name]

# 컬렉션에서 데이터 조회
cursor = collection.find()

# 조회된 데이터를 데이터프레임으로 변환
selloutDf = pd.DataFrame(list(cursor))

selloutDf

                          _id REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0    66962199e40f814a45521294      A01       ST0001    201415  810144
1    66962199e40f814a45521295      A01       ST0002    201415  128999
2    66962199e40f814a45521296      A01       ST0001    201418  671464
3    66962199e40f814a45521297      A01       ST0002    201418  134467
4    66962199e40f814a45521298      A01       ST0001    201413  470040
..                        ...      ...          ...       ...     ...
260  66962199e40f814a45521398      A01       ST0002    201614  148835
261  66962199e40f814a45521399      A01       ST0001    201641  746061
262  66962199e40f814a4552139a      A01       ST0002    201412  151750
263  66962199e40f814a4552139b      A01       ST0001    201420  645626
264  66962199e40f814a4552139c      A01       ST0002    201420  125863

[265 rows x 5 columns]