### 라이브러리 선언

In [1]:
import pandas as pd

### 데이터 불러오기

In [2]:
dataUrl = "https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/kopo_channel_seasonality_new.csv"

In [3]:
selloutData = pd.read_csv(dataUrl)

In [12]:
selloutData.groupby(by=groupKey)["QTY"].agg(["sum"])

                       sum
REGIONID YEARWEEK
A00      201401    10649.0
         201402     9684.0
         201403     8994.0
         201404     9085.0
         201405    10871.0
...                    ...
A77      201648     7222.0
         201649     9308.0
         201650    10268.0
         201651     8604.0
         201652    10310.0

[10990 rows x 1 columns]

### 1. 데이터 타입 통합

In [4]:
## regionid : str, product: str, yearweek: int 
## qty: float

In [5]:
selloutData.REGIONID = selloutData.REGIONID.astype(str)
selloutData.PRODUCT = selloutData.PRODUCT.astype(str)
selloutData.YEARWEEK = selloutData.YEARWEEK.astype(int)
selloutData.QTY = selloutData.QTY.astype(float)

In [6]:
selloutData["YEAR"] = selloutData.YEARWEEK.astype(str).str[:4]
selloutData["WEEK"] = selloutData.YEARWEEK.astype(str).str[4:]

[불량 데이터 처리]
kopo_channel_seasonality_new.csv 자료를 담은 
selloutData 변수에서
QTY컬럼 음수(반품)인 경우 0, 양수인 경우 기존 QTY 값유지하는 로직을 적용하여 QTY_NEW 컬럼을 추가하세요

In [17]:
selloutData["QTY_NEW"] = np.where( selloutData.QTY < 0, 0, selloutData.QTY )

[데이터 통합]
selloutData 자료에서 
YEAR, WEEK 컬럼을 생성하고 WEEK 가 52 이하인
데이터만 조회한 후 refinedSelloutData 변수에 담으세요

In [24]:
exceptWeek = "53"
refinedSelloutData = selloutData.loc[  selloutData.WEEK != exceptWeek    ]