### 라이브러리 선언

In [1]:
import pandas as pd

### 데이터 불러오기

In [2]:
dataUrl = "https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/kopo_channel_seasonality_new.csv"

In [6]:
selloutData = pd.read_csv(dataUrl)

### 1. 데이터 타입 통합

In [9]:
## regionid : str, product: str, yearweek: int 
## qty: float

In [10]:
selloutData.REGIONID = selloutData.REGIONID.astype(str)
selloutData.PRODUCT = selloutData.PRODUCT.astype(str)
selloutData.YEARWEEK = selloutData.YEARWEEK.astype(int)
selloutData.QTY = selloutData.QTY.astype(float)

In [21]:
selloutData["YEAR"] = selloutData.YEARWEEK.astype(str).str[:4]
selloutData["WEEK"] = selloutData.YEARWEEK.astype(str).str[4:]

In [22]:
selloutData

       REGIONID    PRODUCT  YEARWEEK      QTY  YEAR WEEK
0           A60   PRODUCT4    201402     71.0  2014   02
1           A60  PRODUCT59    201402  22275.0  2014   02
2           A60  PRODUCT34    201402   4463.0  2014   02
3           A60  PRODUCT47    201402      0.0  2014   02
4           A60  PRODUCT56    201402     23.0  2014   02
...         ...        ...       ...      ...   ...  ...
124653      A10  PRODUCT60    201630    824.0  2016   30
124654      A10  PRODUCT56    201630    275.0  2016   30
124655      A10  PRODUCT61    201630      0.0  2016   30
124656      A10  PRODUCT12    201630  15021.0  2016   30
124657      A10   PRODUCT1    201630    568.0  2016   30

[124658 rows x 6 columns]

In [13]:
selloutData.loc[ selloutData.QTY < 0 ]

       REGIONID    PRODUCT  YEARWEEK   QTY
65          A02  PRODUCT16    201403  -1.0
338         A08  PRODUCT36    201402  -1.0
1270        A14  PRODUCT36    201405  -1.0
1616        A17  PRODUCT60    201402  -1.0
2035        A39   PRODUCT7    201404 -12.0
...         ...        ...       ...   ...
123677      A39  PRODUCT25    201628  -1.0
123957      A39  PRODUCT50    201627  -1.0
123970      A39  PRODUCT25    201627  -1.0
124148      A13   PRODUCT5    201648  -6.0
124532      A32  PRODUCT14    201627  -2.0

[323 rows x 4 columns]

### 2. 실적값 안에