In [1]:
### 패키지 불러오기

import pandas as pd

### 1. 데이터 불러오기

In [2]:
dataUrl =  "https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/customerdata.csv" 
csData = pd.read_csv( dataUrl )

In [3]:
# 주석
csData.head(1)

type( csData )

pandas.core.frame.DataFrame

### 2. 데이터 행 조회하기

In [4]:
## 조회대상이 EMI 2 보다
## 
targetEmi = "2"
csDataEmi2 = csData.loc[   csData.EMI.astype(str) == targetEmi ]

## 조회대상이 EMI 2보다크고 평균구매가격이 3200 이상
## 
targetEmi = 2
targetPrice = 3200
csDataEmi3 = csData.loc[   (csData.EMI > targetEmi) &
                           (csData.AVGPRICE >= targetPrice)    ]

## 조회대상이 EMI 2,3,4 조회하고 싶다
## 
targetEmis = [2,3,4]
csDataEmi234 = csData.loc[  csData.EMI.isin(targetEmis)  ]

# EMI 컬럼 내 중복 제거
csDataEmi234.EMI.drop_duplicates()

0    3
1    2
Name: EMI, dtype: int64

### 3. 데이터 컬럼 조회하기

In [5]:
csDataIdEmi = csData.loc[ : , ["CUSTID","EMI" ]  ]

### 4. 데이터 조작하기

In [6]:
import numpy as np

csData["PRODUCTAGE_NEW"] = np.where( csData.PRODUCTAGE < 1, 1, csData.PRODUCTAGE)

### 1보다 작은애들은 1
### 1보다 크거나같고 2보다 작은애들은 2
### 이외에는 3

import numpy as np

csData["PRODUCTAGE_NEW"] = np.where( csData.PRODUCTAGE < 1, 1,
                                   np.where( csData.PRODUCTAGE < 2, 2, 3 ) )

### 5. 데이터 정렬하기

In [7]:
sortKey = ["EMI","AVGPRICE"]

In [8]:
sortedValue = csData.sort_values(by = sortKey, ascending=[False, True])

### 6. groupBy 집계함수

In [9]:
groupKey = ["EMI"]

groupData = sortedValue.groupby(by=groupKey)[["AVGPRICE"]].agg("sum").reset_index()

groupData

   EMI       AVGPRICE
0    1   34309.349910
1    2  412971.559684
2    3   67630.256563

### 7. 이동집계함수 (Moving Average 포함)

In [10]:
sortedValue["MA5"] = sortedValue.AVGPRICE.rolling(window=5, center=True, min_periods=1).mean()

In [11]:
sortedValue.groupby(by=groupKey)[["AVGPRICE"]].describe()

    AVGPRICE                                                                  \
       count         mean         std          min          25%          50%
EMI
1       11.0  3119.031810  301.047916  2390.083736  2978.220215  3159.839204
2      120.0  3441.429664  349.691674  2411.008838  3231.429242  3418.480121
3       19.0  3559.487188  454.411870  2811.265932  3219.363531  3592.353540


             75%          max
EMI
1    3363.814315  3419.462596
2    3656.799297  4166.533130
3    3867.447366  4296.873743

### 8. 데이터 병합 (속성추가)

In [12]:
selloutUrl = "https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/join_kopo_product_volume.csv"

masterUrl = "https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/join_region_master.csv"

joinSellout = pd.read_csv(selloutUrl)
joinMaster = pd.read_csv(masterUrl, encoding="ms949")

joinMaster2 = joinMaster.loc[joinMaster.REGIONNAME=="한국"]

mergedData = pd.merge(left=joinSellout, right=joinMaster2, on=["REGIONID"], how="left")

### 9. 데이터 병합 (위아래 병합)

In [13]:
joinMasterKorea = joinMaster.loc[joinMaster.REGIONNAME=="한국"]
joinMasterAmerica = joinMaster.loc[joinMaster.REGIONNAME=="미국"]

In [14]:
mergedData = pd.concat( [joinMasterKorea, joinMasterAmerica], axis=0)

In [17]:
mergedData

  REGIONID REGIONNAME
0      A01         한국
1      A02         미국

### 5. 컬럼간 데이터 연산하기

csData["NEW_COL1"] = csData.EMI * csData.DEVICECOUNT

csData["NEW_COL2"] = csData.CUSTID.str[1:]+"_"+csData.EMI.astype(str)

### 6. 데이터 정렬하기

In [16]:
csData.sort_values(

SyntaxError: incomplete input (1943795267.py, line 1)

In [ ]:
preFix = "LED"

In [ ]:
modelCode = "_UN52001"

In [ ]:
preFix[1:]

In [ ]:
preFix+modelCode

In [ ]:
# 함수: input Age값을 받아 age 조작...
def myCsAgeFunc(inAge):
    # inAge = 3
    outAge = 0
    if inAge < 1:
        outAge = 1
    elif inAge < 2:
        outAge = 2
    else:
        outAge = 3
    return outAge

In [ ]:
csData["PRODUCTAGE_NEW2"] = csData.PRODUCTAGE.apply(myCsAgeFunc)