# Pandas 라이브러리를 활용한 데이터 수집 및 저장

# 4. 데이터베이스 데이터 수집 및 저장 (Oracle)

In [1]:
# 설치필요 라이브러리 : pip install cx_Oracle
import pandas as pd
from sqlalchemy import create_engine,types

### 1. 파일 데이터 불러오기

In [3]:
import oracledb
import pandas as pd

# Oracle 연결 정보 설정
dsn = {
    'user': 'kopo',
    'password': 'kopo',
    'dsn': '127.0.0.1:1521/xe'
}

conn = oracledb.connect(**dsn)
print("Connected to Oracle Database")

# 쿼리 실행 및 데이터프레임으로 변환
query = "SELECT * FROM kopo_product_volume"
df = pd.read_sql(query, conn)

# 데이터프레임 출력
print("DataFrame from Oracle Table:")
print(df.head())  # 처음 몇 개의 행 출력

conn.close()
print("Oracle Connection Closed")

OperationalError: DPY-6005: cannot connect to database (CONNECTION_ID=fp4PiFp+O8KpBuxNVQIXsg==).
DPY-3010: connections to this database server version are not supported by python-oracledb in thin mode
Help: https://python-oracledb.readthedocs.io/en/latest/user_guide/troubleshooting.html#dpy-3010

In [ ]:
import cx_Oracle
import pandas as pd

# Oracle 연결 정보 설정
dsn_tns = cx_Oracle.makedsn(host='<hostname>', port='<port>', service_name='<service_name>')
user = '<username>'
password = '<password>'

# Oracle에 연결
try:
    connection = cx_Oracle.connect(user=user, password=password, dsn=dsn_tns)
    print("Connected to Oracle Database")

    # 쿼리 실행 및 데이터프레임으로 변환
    query = "SELECT * FROM kopo_product_volume"
    df = pd.read_sql(query, con=connection)

    # 데이터프레임 출력
    print("DataFrame from Oracle Table:")
    print(df.head())  # 처음 몇 개의 행 출력

except cx_Oracle.DatabaseError as e:
    print("Database Error:", e)
finally:
    # 연결 종료
    if 'connection' in locals():
        connection.close()
        print("Oracle Connection Closed")

In [2]:
id = "kopo"
pw = "kopo"
ip = "127.0.0.1"
port = "1521"
dbName = "xe"
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName)    )

ModuleNotFoundError: No module named 'cx_Oracle'

In [2]:
# 테이블 전체 조회 select * from tabs와 유사
# engine.table_names()

In [19]:
# 테스트 데이터프레임 생성

In [20]:
testData = pd.DataFrame( [["row1_value1","row1_value2","row1_value3"],
                          ["row2_value1","row2_value2","row2_value3"]], columns = ["컬1","컬2","컬3"] )

In [18]:
testData

            컬1           컬2           컬3
0  row1_value1  row1_value2  row1_value3
1  row2_value1  row2_value2  row2_value3

In [15]:
# 2023년도 변경 
### 테이블 이름 소문자로 변경
### 저장 시 타입 정의 (object)

In [13]:
tableName = "JIKGB_TEST"
tableName = tableName.lower()
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(testData.columns[testData.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # sawonData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 

testData.to_sql(name=tableName, if_exists="replace", con=engine,dtype=typeDict, index=False)

1

In [ ]:
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(selloutData.columns[selloutData.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # selloutData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 

selloutData.to_sql(name=tableName, if_exists="replace", con=engine,dtype=typeDict, index=False)