### 자료형이란?

In [13]:
##### 변할 수 있는 값을 담는 공간
a=3
b=2
a=a*b
print(a)

6

In [14]:
A="3"
print(type(a))
print(type(A))

<class 'int'>
<class 'str'>

In [15]:
3A = 2

SyntaxError: invalid syntax (<ipython-input-15-32afd1e6dc34>, line 2)

In [9]:
### 변수명 예약어 사용불가
if = 3

SyntaxError: invalid syntax (<ipython-input-9-be84b543568d>, line 2)

# 1. 수(Number)

In [1]:
integer_value = 123
float_value = 12.456

# 1. 더하기 연산
sumation = integer_value+float_value
print(sumation)

# 2. 곱하기 연산
multiple = integer_value*float_value
print(multiple)

# 3. 나누기 연산
division = integer_value/float_value
print(division)

# 4. 제곱연산
integer_value2 = int(float_value)
exponential = integer_value2**2
print(exponential)

# 5. 나머지 연산
mod = integer_value%int(float_value)
print(mod)

135.456
1532.088
9.8747591522158
144
3

### [실습]
현재 시간과 분을 입력값으로 받아서
두개의 값을 더하는 연산을 수행하세요

In [8]:
time = 13
minutes = 13
sumation = time+minutes
sumation

26

In [9]:
import datetime as dt

In [10]:
current_time = dt.datetime.now()
current_time

datetime.datetime(2020, 1, 31, 13, 55, 40, 678387)

In [11]:
current_hour = current_time.hour
current_minutes = current_time.minute
sumation= current_hour + current_minutes
sumation

68

In [12]:
aaa = 11.222

In [13]:
type(aaa)

float

In [14]:
time = 7
day = 12

sumation = 7+12
print(sumation)

19

In [15]:
import datetime as dt

s = dt.datetime.now()
#시간정보
time = s.hour
date = s.day

sumation = time+date
print(time, "시", date, "일" , "합계는 -> ", sumation)

13 시 31 일 합계는 ->  44

# 2. 문자열

문자, 단어등으로 구성된 집합

In [7]:
aType = "This is 'String' value"
print(aType)
bType = 'This is "String" value'
print(bType)
cType = """ This is 
'String" value"""
print(cType)

This is 'String' value
This is "String" value
 This is
'String" value

### (1) 기본연산

In [3]:
#문자열 더하기
head = "smart"
tail = "analytics"
fullString = head+" "+tail 
print(fullString)

#문자열 곱하기 
print("*"*20) 

#문자열 인덱싱 0부터 시작
yearweek = "201801"
print(yearweek[0])   #첫번째 문자열  
print(yearweek[0:4]) #0~4번째 전 문자열
print(yearweek[4:])  #4번째부터 끝까지
print(yearweek[-2])  #끝에서 두 번째 문자열
print(yearweek[-2:])  #끝에서 두 번째부터 마지막까지 인덱스

smart analytics
********************
2
2018
01
0
01

### (2) 자주 사용되는 연산

In [5]:
#문자열 개수세기 (count)
yearweek = "2017W28" 
print(yearweek.count("W"))

#문자열 위치확인 (index)
print(yearweek.index("W")) 
delimeter=yearweek.index("W")
newYearweek = yearweek[:delimeter]+yearweek[delimeter+1:]
print(newYearweek)

# 대소문자 구별함수 (upper/lower)
letters = "LeD_tv" 
print(letters.upper())
print(letters.lower())

# 문자 치환 (replace)
repLetters = "2017W28" 
print(repLetters.replace("W","_"))

# 문자 분리 (split)
yearweek_list = yearweek.split("W") 
print(yearweek_list)

1
4
201728
LED_TV
led_tv
2017_28
['2017', '28']

### [실습1]
"SEC 20180212 250"  문자열 생성 후
stock_name, date, value로 각각 의미하는
문자열을 생성하세요

In [5]:
testData = "SEC 20180212 250"

In [6]:
testDataSplit = testData.split(" ")

In [7]:
stockname = testDataSplit[0]
date = testDataSplit[1]
value = testDataSplit[2]

In [8]:
print(stockname)
print(date)
print(value)

SEC
20180212
250

### [실습2]
“Sec 2018W28 250”  문자열 생성 후
stock_name, date, value로 각각 의미하는
문자열을 생성하세요
(단 모두 대문자여야 하며, ‘W’를 삭제해야함)

In [9]:
testData2 = "Sec 2017W28 250"
testData2

'Sec 2017W28 250'

### (3) 자료형 변환

In [8]:
#문자 → 수(정수)
strValue = "1234"
cvIntValue = int(strValue)
print(type(cvIntValue))

#문자 → 수(실수)
strValue = "1234"
cvFloatValue = float(strValue)
print(type(cvFloatValue))

#숫자 → 문자
numberValue = 1234
cvStrValue = str(numberValue)
print(type(cvStrValue))

<class 'int'>
<class 'float'>
<class 'str'>

### 참조 [문자열 분리]

In [13]:
orgletter = "2017w12"

splitter = "w"

answer = orgletter.split(splitter)

answer[0]

answer[1]

'12'

# 3. 리스트

특정 집합 모음을 표현할 수 있는 자료형

In [14]:
emptyList = []
priceList = [120,130,150,200,170]
print(priceList)
secInfo = ["SEC",120,130, [201712,201713]]
print(secInfo)

[120, 130, 150, 200, 170]
['SEC', 120, 130, [201712, 201713]]

### (1) 기본 연산

In [11]:
#리스트 연산
stockName = ["SEC"] 
priceList = [120,130]
dateList = [201712,201713]

secinfo = stockName+priceList+[dateList]
print(secinfo)

#리스트 인덱싱
secinfo=["SEC",120,130,[201712,201713]] 
print(secinfo[1])
print(secinfo[3])
print(secinfo[3][0])
print(secinfo[0:3])
print(secinfo[-4]) # 끝에서 4번째인덱스

['SEC', 120, 130, [201712, 201713]]
120
[201712, 201713]
201712
['SEC', 120, 130]
SEC

### (2) 리스트 값 수정

In [13]:
#리스트 값 업데이트 하기
updateList = [120,130,140,150]
print(updateList)
updateList[2] = 180 
print(updateList)

#리스트 값 삭제하기
updateList.remove(130) 
del updateList[2] 
print(updateList)

#리스트 구간 데이터 삭제하기 구간 (1 이후 인덱스 삭제)
updateList[ 1 : ] = []

[120, 130, 140, 150]
[120, 130, 180, 150]
[120, 180]

### (3) 자주 사용되는 연산

In [14]:
functionList = [120, 130, 140, 150]

#리스트에 아이템 추가하기
functionList.append(100) 
functionList.insert(3, 100) 
functionList.extend( [11, 12] )
print(functionList)

#리스트 정렬하기
functionList.sort(reverse = False) 
print(functionList)

#값으로 인덱스 가져오기
print(functionList.index(150)) 

#리스트 자주사용하는 함수
print(len(functionList)) 
print(min(functionList))
print(max(functionList))
print(sum(functionList))

#리스트에 아이템 개수 세기
functionList = [120,130,140,150,120]
functionList.count(120)

[120, 130, 140, 100, 150, 100, 11, 12]
[11, 12, 100, 100, 120, 130, 140, 150]
7
8
11
150
763

2

참조

In [18]:
functionList =  [120,130,140,150,120]
functionList.count(120)

2

### [실습]
[120,150,300,500,1000,100,2000] 
값에서 최소 최대 값을 뺀 평균을
average 이름의 변수에 담으세요

풀이#1

In [20]:
test = [120,150,300,500,1000,100,2000]

In [21]:
test.remove(min(test))

In [22]:
test.remove(max(test))

In [23]:
test

[120, 150, 300, 500, 1000]

In [24]:
average = sum(test)/len(test)

In [25]:
average

414.0

풀이 #2

In [26]:
test = [120,150,300,500,1000,100,2000]

In [27]:
minValueIndex = test.index(min(test))
minValueIndex

5

In [28]:
del test[minValueIndex]

In [29]:
maxValueIndex = test.index(max(test))
maxValueIndex

5

In [44]:
del test[maxValueIndex]

In [45]:
test

[120, 150, 300, 500, 1000]

In [46]:
average =0.0
if len(test)!=0:
  average = sum(test)/len(test)
else:
    average = 1

In [47]:
average

414.0

In [48]:
average = sum(test)/len(test)

In [49]:
average

414.0

# 4. 튜플 (Tuple)

In [8]:
emptyTuple = ()
timeTuple = (1,2,3,4,5,6)

튜플 기본연산

In [15]:
#튜플 인덱싱
timeTuple = (1,2,3,4,5,6)

print(timeTuple[1])
print(timeTuple[3])
print(timeTuple[0:3])

# 튜플 길이
len(timeTuple)

2
4
(1, 2, 3)

6

# 5. Dictionary

(Key, Value) 형태 자료 구조로 특정년도의 주식명을  키로 요청하면 주가총액을 value로 불러오는 형태

In [16]:
dic = {"name":"sec","id":"3000000","address":"suwon"}

In [17]:
print(dic)

{'name': 'sec', 'id': '3000000', 'address': 'suwon'}

In [18]:
dic.keys()

dict_keys(['name', 'id', 'address'])

In [19]:
dic.values()

dict_values(['sec', '3000000', 'suwon'])

In [22]:
dic = {"name":"sec", "id":"300000", "address":"suwon" }
print(dic)
print(dic["name"])

# dictionary key value 추가/변경
dic["name"] = "sec2"
dic["stock"] = "yes"
print(dic)
print(dic["stock"])

# dictionary 아이템 삭제하기
dic.pop("name")
print(dic)

{'name': 'sec', 'id': '300000', 'address': 'suwon'}
sec
{'name': 'sec2', 'id': '300000', 'address': 'suwon', 'stock': 'yes'}
yes
{'id': '300000', 'address': 'suwon', 'stock': 'yes'}

### [실습]
dic = {"name":"sec","id":"300000","address":"suwon"} 에서
id 키 값을 삭제하여 출력하세요{'name': 'sec', 'address': 'suwon’}

In [57]:
dic = {"name":"sec","id":"300000","address":"suwon"}

In [58]:
dic.keys()

dict_keys(['name', 'id', 'address'])

In [59]:
dic.pop("id")

'300000'

In [60]:
dic

{'name': 'sec', 'address': 'suwon'}

# 5. Pandas Dataframe

행/열 구조의 가장 많이 활용되는 자료구조 형태

### 1. 딕셔너리를 활용한 Pandas DataFrame 생성

In [61]:
# 데이터 프레임 라이브러리 활용
import pandas as pd

# 딕셔너리를 활용한 데이터프레임 생성
data = {'name': ['A고객','B고객','C고객','D고객'],
        'age': [27,40,33,29],
        'stock_age': [2,10,5,1]}
dataFrame = pd.DataFrame(data)

# 데이터 프레임 : 스프레드시트 형태의 자료구조
print(dataFrame)

  name  age  stock_age
0  A고객   27          2
1  B고객   40         10
2  C고객   33          5
3  D고객   29          1

### 2. 리스트를 활용한 Pandas DataFrame 생성

In [62]:
import pandas as pd
# 리스트 생성
test = [10,100,1000,10000]
# 데이터프레임 변환
testDf = pd.DataFrame(test)
testDf

       0
0     10
1    100
2   1000
3  10000

In [63]:
testDf.columns=["test"]
testDf

    test
0     10
1    100
2   1000
3  10000

In [64]:
import pandas as pd
date = ['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23']
date2 = ['17.02.29', '17.02.26', '17.02.25', '17.02.24', '17.02.23']

In [65]:
date_df = pd.DataFrame(date, columns=['date2'])
date_df2 = pd.DataFrame(date2, columns=['date23'])

In [66]:
final = pd.concat([date_df,date_df2], axis = 1)
final

      date2    date23
0  16.02.29  17.02.29
1  16.02.26  17.02.26
2  16.02.25  17.02.25
3  16.02.24  17.02.24
4  16.02.23  17.02.23

### [실습]
자신만의 데이터프레임을 생성해보세요